# S3 Configuration
OUTPUTS_BASE_PATH=https://<YOUR_S3_BUCKET_NAME>.s3.<YOUR_AWS_REGION>.amazonaws.com/__outputs

# Server Configuration
PORT=8000

# Example: https://vercel-clone-outputs.s3.ap-south-1.amazonaws.com/__outputs
